img:hover {
    cursor: pointer;
}


span {
    font-weight: 400;
    color: #9B9B9B;
    margin-left: .5rem;
}


select, option {
    outline: none;
    background: none;
    border: none;
    font-size: 1rem;
}



@media only screen and (max-width: 414px) {
  span, select {
    font-size: .75rem;
  }
}
