

.product {
    margin-left: 1.5rem;
    position: relative;


    &-img {
        width: auto;
        height: 70%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


    &-data {

        &-category {
            color: #656565;
            font-weight: bold;
            margin-top: .5rem;
            display: block;
        }

        &-name {
            margin-top: .5rem;
            width: 100%;
            white-space: break-spaces;
            word-wrap: anywhere;
        }

        &-price {
            margin-top: .85rem;
            display: block;
            color: #656565;
        }
    }

    &-bestseller {
        position: absolute;
        top: 0;
        left: 0;
        padding: .25rem .85rem;
        background-color: white;
    }


    &-add_cart {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding: .35rem .85rem;
        text-align: center;
        opacity: 0;
        transition: .4s all ease-in-out;


        &:hover {
            cursor: pointer;

            background-color: white;
            color: black;
            border: .5px solid black;
        }
    }


    &:hover {

        .product-add_cart {
            opacity: 1;
        }
    }
}






@media only screen and (max-width: 962px) {
  .product.related {
    margin-left: 0rem;
    margin-right: 1rem;
  }
}


@media only screen and (max-width: 768px) {
  .product.related {
    width: 120px !important;
    height: 270px !important;
  }

  .product {
    width: 70vw !important;
    margin: 0;
  }
}


@media only screen and (max-width: 414px) {
  .product {
    &-bestseller {
      font-size: .85rem;
    }
  }

  .product.related {
    width: 26.5vw !important;
    height: 225px !important;
  }


  .product {
    width: 88vw !important;
    height: 570px !important;
  }
}
